<div class="kt-aside-secondary" id="kt_aside_secondary">
	<div ktToggle #toggler="ktToggle" [options]="toggleOptions" class="kt-aside-secondary__toggle" id="kt_aside_secondary_toggler"></div>
	<button ktToggle [options]="mobileToggleOptions" class="kt-aside-secondary__mobile-nav-toggler" id="kt_aside_secondary_mobile_nav_toggler" ngbTooltip="Aside Secondary" placement="left"></button>

	<div class="kt-aside-secondary__content">
		<button class="btn btn-sm btn-circle btn-icon kt-aside-secondary__close" ngbTooltip="Layout Builder" placement="left">
			<i class="la la-close"></i>
		</button>
		<ngb-tabset #tab="ngbTabset">
			<ngb-tab id="tab-id-1">
				<ng-template ngbTabContent>
					<div class="kt-aside-secondary__content-head">
						Create Event
					</div>
					<div class="kt-aside-secondary__content-body kt-scroll">
						<form class="kt-form">
							<div class="kt-section kt-section--first">
								<div class="form-group">
									<label>Name:</label>
									<input type="email" class="form-control" placeholder="Enter full name">
									<span class="form-text text-muted">Please enter your event name</span>
								</div>
								<div class="form-group">
									<label>Location:</label>
									<input type="email" class="form-control" placeholder="Enter email">
									<span class="form-text text-muted">Please enter event location</span>
								</div>
								<div class="form-group">
									<label>Budget</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text" id="basic-addon2">$</span></div>
										<input type="text" class="form-control" placeholder="321,999.99">
									</div>
								</div>
								<div class="form-group">
									<label>Channels:</label>
									<div class="kt-checkbox-list">
										<label class="kt-checkbox">
											<input type="checkbox"> Email
											<span></span>
										</label>
										<label class="kt-checkbox">
											<input type="checkbox"> SMS
											<span></span>
										</label>
										<label class="kt-checkbox">
											<input type="checkbox"> Phone
											<span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="kt-form__actions">
								<button type="reset" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-secondary">Cancel</button>
							</div>
						</form>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="tab-id-2">
				<ng-template ngbTabContent>
					<div class="kt-aside-secondary__content-head">
						New Report
					</div>
					<div class="kt-aside-secondary__content-body kt-scroll">
						<form class="kt-form">
							<div class="kt-section kt-section--first">
								<div class="form-group">
									<label>Name:</label>
									<input type="email" class="form-control" placeholder="Enter full name">
									<span class="form-text text-muted">Please enter report name</span>
								</div>
								<div class="form-group">
									<label for="exampleSelect">Category:</label>
									<select class="form-control" id="exampleSelect">
										<option>Finance</option>
										<option>Sales</option>
										<option>System</option>
										<option>Customers</option>
										<option>Orders</option>
									</select>
									<span class="form-text text-muted">Please select report category</span>
								</div>
								<div class="form-group">
									<label>Revenue:</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">#</span></div>
										<input type="text" class="form-control" placeholder="Units" aria-describedby="basic-addon1">
										<div class="input-group-append"><span class="input-group-text">$</span></div>
									</div>
									<span class="form-text text-muted">Please enter treshhold name</span>
								</div>
								<div class="form-group">
									<label>Filter:</label>
									<div class="kt-checkbox-list">
										<label class="kt-checkbox">
											<input type="checkbox"> Pending transations
											<span></span>
										</label>
										<label class="kt-checkbox">
											<input type="checkbox"> Include margins
											<span></span>
										</label>
										<label class="kt-checkbox">
											<input type="checkbox"> Include balance
											<span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="kt-form__actions">
								<button type="reset" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-secondary">Cancel</button>
							</div>
						</form>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="tab-id-3">
				<ng-template ngbTabContent>
					<div class="kt-aside-secondary__content-head">
						Notifications
					</div>
					<div class="kt-aside-secondary__content-body kt-aside-secondary__content-body--fit-x kt-scroll">
						<div class="kt-notification">
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-time-2"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New order has been received
									</div>
									<div class="kt-notification__item-time">
										2 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-upload-1"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New customer is registered
									</div>
									<div class="kt-notification__item-time">
										3 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-interface-8"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										Application has been approved
									</div>
									<div class="kt-notification__item-time">
										3 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-file"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New file has been uploaded
									</div>
									<div class="kt-notification__item-time">
										5 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-user"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New user feedback received
									</div>
									<div class="kt-notification__item-time">
										8 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-cogwheel"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										System reboot has been successfully completed
									</div>
									<div class="kt-notification__item-time">
										12 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-light"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New order has been placed
									</div>
									<div class="kt-notification__item-time">
										15 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item kt-notification__item--read">
								<div class="kt-notification__item-icon">
									<i class="flaticon-interface-2"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										Company meeting canceled
									</div>
									<div class="kt-notification__item-time">
										19 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-diagram"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New report has been received
									</div>
									<div class="kt-notification__item-time">
										23 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-pie-chart"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										Finance report has been generated
									</div>
									<div class="kt-notification__item-time">
										25 hrs ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-speech-bubble-1"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New customer comment recieved
									</div>
									<div class="kt-notification__item-time">
										2 days ago
									</div>
								</div>
							</a>
							<a href="javascript:;" class="kt-notification__item">
								<div class="kt-notification__item-icon">
									<i class="flaticon-warning"></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										New customer is registered
									</div>
									<div class="kt-notification__item-time">
										3 days ago
									</div>
								</div>
							</a>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>

	<div class="kt-aside-secondary__nav kt-grid kt-grid--hor">
		<div class="kt-grid__item kt-grid__item--fluid kt-aside-secondary__nav-body">
			<ul ktTabClickEvent class="kt-aside-secondary__nav-toolbar nav nav-tabs" role="tablist" id="kt_aside_secondary_nav">
				<li class="kt-aside-secondary__nav-toolbar-item nav-item" ngbTooltip="Events" placement="left" (click)="tab.select('tab-id-1'); tabClicked($event)">
					<a class="kt-aside-secondary__nav-toolbar-icon nav-link" href="javascript:;" role="tab">
						<i class="flaticon2-box kt-font-brand"></i>
						<span class="kt-badge kt-badge--dot kt-badge--md kt-badge--danger"></span>
					</a>
				</li>
				<li class="kt-aside-secondary__nav-toolbar-item nav-item" ngbTooltip="Reports" placement="left" (click)="tab.select('tab-id-2'); tabClicked($event)">
					<a class="kt-aside-secondary__nav-toolbar-icon nav-link" href="javascript:;" role="tab">
						<i class="flaticon2-chart kt-font-danger"></i>
					</a>
				</li>
				<li class="kt-aside-secondary__nav-toolbar-item nav-item" ngbTooltip="Notifications" placement="left" (click)="tab.select('tab-id-3'); tabClicked($event)">
					<a class="kt-aside-secondary__nav-toolbar-icon nav-link" href="javascript:;" role="tab">
						<i class="flaticon-rotate kt-font-success"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="kt-grid__item kt-aside-secondary__nav-foot">
			<ul ngbDropdown placement="top-right" class="kt-aside-secondary__nav-toolbar">
				<li class="kt-aside-secondary__nav-toolbar-item">
					<a ngbDropdownToggle class="kt-aside-secondary__nav-toolbar-icon" placement="left" ngbTooltip="Quick menu">
						<i class="fa fa-exclamation-circle kt-font-warning"></i>
					</a>
					<div ngbDropdownMenu class="dropdown-menu">
						<ul class="kt-nav">
							<li class="kt-nav__section kt-nav__section--first">
								<span class="kt-nav__section-text">Quick Links</span>
							</li>
							<li class="kt-nav__item">
								<a href="javascript:;" class="kt-nav__link">
									<i class="kt-nav__link-icon fa fa-donate"></i>
									<span class="kt-nav__link-text">Purchase Keen</span>
								</a>
							</li>
							<li class="kt-nav__item">
								<a href="https://keenthemes.com/metronic/?page=docs" class="kt-nav__link">
									<i class="kt-nav__link-icon fa fa-book"></i>
									<span class="kt-nav__link-text">Documentation</span>
								</a>
							</li>
							<li class="kt-nav__item">
								<a routerLink="/builder" class="kt-nav__link">
									<i class="kt-nav__link-icon fa fa-charging-station"></i>
									<span class="kt-nav__link-text">Layout Builder</span>
								</a>
							</li>
							<li class="kt-nav__item">
								<a href="https://keenthemes.com/support" class="kt-nav__link" id="export_excel">
									<i class="kt-nav__link-icon fa fa-headset"></i>
									<span class="kt-nav__link-text">Theme Support</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
